/* GENERAL */

/* FIX Landscape to Portrait Responsive */
html, body { overflow-x: hidden; }

body { background-color: #243442 !important;font-family: Helvetica, Verdana;}
.justify { text-align: justify; display: block; }
.center { text-align: center; display: block; }
.error { color: red; font-weight: bold; }
.with-navbar{ padding-top: 60px; }

/* CONNECT */
.login{	margin-top: 100px; margin-bottom: 20px; }
.logo_connect { display: block; margin: 0 auto; text-align: center; margin-bottom: 20px; }

/* DASHBOARD */
.avatar{ margin-top: 10px; width: 120px; margin-bottom: 10px; }
.new_event { padding-top: 70px; padding-bottom: 43px; text-align: center; cursor: pointer; }
.event { padding-top: 40px; padding-bottom: 50px; max-height: 200px; text-align: center; }
.logo_event { width: 100px; }
.day { padding-top: 80px; padding-bottom: 50px; max-height: 200px; text-align: center; }
.caja { background-color: #FFF !important; }
#user_avatar { display: inline-table; }
#link_media { text-decoration: none; color: #000; }
#btn_media { margin-top: 10px;}
.msg-normal{  }
.msg-warning{ background-color: #FCA81E !important; }
.msg-deleted{ background-color: #E7564E !important; }
.media-buttons-delete { display: none; }
.media-buttons-add { display: none; }
.mostrar { display: block !important; }

/* MEDIA QUERIES */

@-ms-viewport { width: device-width;}

/* Full HD Display */
@media (max-width: 1200px) { }

/* HD Display */
@media (max-width: 1199px) { }

@media (min-width: 1200px) { }

/* Tablet Landscape */
@media (min-width: 980px) { }

@media (max-width: 979px) { }

/* Table Portrait */
@media (min-width: 768px) and (max-width: 979px) { .with-navbar{ padding-top: 0px; } }

@media (max-width: 767px) { .with-navbar{ padding-top: 0px; } }

/* Default Smartphone Display */
@media (max-width: 480px) { .login{	margin-top: 20px;} .with-navbar{ padding-top: 0px; } }